.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.item1 {
  grid-area: chatlist;
}
.item2 {
  grid-area: sendButton;
}
.item3 {
  grid-area: input;
}
.item4 {
  grid-area: chat;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "chatlist chat chat chat chat"
    "chatlist chat chat chat chat"
    "chatlist chat chat chat chat"
    "chatlist input input input sendButton";
  grid-template-rows: 1fr 150px 1fr;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  width: 700px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
}

.input {
  width: 200px;
  margin: 0 8px 8px 0;
  float: right;
}

.rightButton {
  float: right;
}

.box {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.messageView {
  height: 200;
  width: 400;
}
